# Copy this file to env.hcl and fill in the values
# env.hcl is gitignored and should never be committed
locals {
  environment     = "dev"
  subscription_id = "00000000-0000-0000-0000-000000000000"
  tenant_id       = "00000000-0000-0000-0000-000000000000"
  deployment_ip   = "0.0.0.0/32"  # get via: curl ifconfig.me

  common_tags = {
    Environment = "dev"
    ManagedBy   = "Terraform"
    Project     = "AKS-Demo"
  }
}
